
<!-- Estilos -->

<script  type="module" src="/js/ModulosJS/ModulosJSCategoria.js"></script>
    <section  class="content">

        <div class="row center mb-3 botones_Cart"  >
            <% if (allowedActions.some(accion => accion.Accion === 'Crear')) { %>
                <button id="btnCrear" class="btn btn-dark Boton_crearPrincipal" >Crear</button>
            <% } %>
        </div>    
        
        <div class="row  p-3">
            <div class="table-container">
                <table id="Tabla" class="custom-table" data-allowed-actions='<%- JSON.stringify(allowedActions) %>'>
                <thead>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>ESTADO</th>     
                                                  
                                         
                        <th class="text-center">ACCIONES</th>                      
                    </tr>
                </thead>
                <tbody>
                </tbody>
                </table> 
            </div>
        </div>

    <!--Modal para CRUD-->
    <div id="modalCRUD" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 520px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>                
                </div>
                <form id="form">    
                    <div class="modal-body form">                
                            <input id="id" hidden>
                            <div class="input-container ">
                                <input placeholder="" type="text"  id="nombre" >
                                <label  for=" nombre" class="label">Nombre</label>
                                <div class="underline"></div>
                            </div>
                            <div class="input-container">
                                <select id="estado" >
                                    <option value="Activo">Activo</option>
                                </select>
                                <label for="estado" class="label">Estado</label>
                                <div class="underline"></div>
                            </div>
                         
                            
                                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                    </div>
                </form>    
            </div>
        </div>
    </div>  



    </section> 
   