
<script  type="module" src="/js/ModulosJS/MoluloAcceso.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/ConfiguracionAccesos.css">

    <section class="content" >



      <div class="row  mb-5" style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); border-radius: 8px; height: 100px; margin-top: 10px;">
       
          <button id="btnRegistraconfiAccesos" class="btn btn-primary" style="width:400px; height: 50px; margin-left: 20px; margin-top: 20px; background-color: #28a745; border-color: #28a745;">Registrar Configuracion de accesos</button>
          
                    
     
        <button id="btnCancelar" class="btn btn-danger btn-block" style="width:150px; height: 50px; margin-left: 20px; margin-top: 20px;">
            <i class="fas fa-chevron-circle-left" style="color: #fff;"></i>  Cancelar
        </button>
 
        <button id="btnMostrarBusqueda" class="btn btn-primary" style="width: 200px; height: 50px; margin-left: 20px; margin-top: 20px; background-color: #28a745; border-color: #28a745;">
          <i class="fas fa-search"></i> Mostrar Búsqueda
      </button>
      
      <button id="btnOcultarBusqueda" class="btn btn-danger" style="width: 200px; height: 50px; margin-left: 20px; margin-top: 20px;">
          <i class="fas fa-times"></i> Ocultar Búsqueda
      </button>
        
    </div>


<div id="vista1" class="vista">
 



  <div class="row  p-3 ">
    <div class="table-container">
        <table id="TablaConfiguracionesVer" class="custom-table">
        <thead>
            <tr>
                <th>Recurso</th>
                <th>Accion</th>
                <th>Rol</th>
               
                
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table> 
    </div>
</div>
</div>
<div id="vista2" class="vista">
  <div class="row">

    <button id="btnAsignacionMasiva" class="btn btn-primary">Agregar Configuraciones</button>
  
  </div>
  
        <div class="row">
          <div class="col-md-4">
            <div id="miListaRecurso" class="lista">
              <input type="text" class="buscadorImputConfig" id="buscadorRecurso" placeholder="Buscar en Recurso">
              <!-- Los elementos se agregarán dinámicamente desde JavaScript -->
            </div>
          </div>
          
          <div class="col-md-4">
            <div id="miListaAcciones" class="lista">
              <input type="text"  class="buscadorImputConfig" id="buscadorAcciones" placeholder="Buscar en Acciones">
              <!-- Los elementos se agregarán dinámicamente desde JavaScript -->
            </div>
          </div>
        
          <div class="col-md-4">
            <div id="miListaRol" class="lista">
              <input type="text"  class="buscadorImputConfig" id="buscadorRol" placeholder="Buscar en Rol">
              <!-- Los elementos se agregarán dinámicamente desde JavaScript -->
            </div>
          </div>
  
  
        </div>
        
        <div class="row hadow-lg p-1 mb-2">
  
          <button id="btnCrear" class="btn btn-primary">Crear Configuraciones</button>
        
        </div>
        <div class="row shadow-lg p-3 mb-5">
          <div class="col">
              <table id="TablaConfiguracion" class="table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                      <th>CodigoRecurso</th>
                      <th>NombreRecurso</th>
                      <th>CodigoAccion</th>
                      <th>NombreAccion</th>
                      <th>CodigoRol</th>
                      <th>NombreRol</th>     
                      <th class="text-center">ACCIONES</th>                      
                  </tr>
              </thead>
              <tbody>
              </tbody>
              </table> 
          </div>
      </div>
       
</div>



    </section>
  
 