
<script type="module" src="/js/ModulosJS/ModuloJsConfiguracion.js"></script>

    
    <section class="content">
 
        <div class="row center mb-3 botones_Cart"  >
            <% if (allowedActions.some(accion => accion.Accion === 'Crear')) { %>
                <button id="btnCrear" class="btn btn-dark Boton_crearPrincipal" >Crear</button>
            <% } %>
            <button id="btnVerHistorial" class="btn btn-dark Boton_crearPrincipal" style="width: 150px;">Ver Historial</button>

        </div>

        <!--div para mostrar imagen de la tabbla-->
        <div id="imagenZoomContainer" style="display: none;">
            <img id="imagenZoom" src="" alt="Logo" class="zoom-image">
        </div>
          <div class="row  p-3">
           
    <div class="table-container">
        <table id="Tabla" class="custom-table" data-allowed-actions='<%- JSON.stringify(allowedActions) %>'>
        <thead>
            <tr>
                <th>#</th>
                <th>NOMBRE</th>
                <th>LOGO</th>
                <th>RUC</th>
                <th>TELEFONOS</th>
                <th>CORREO</th>
                <th>DIRECCION</th>
                <th>F.MODIFICACION</th>
                <th>USUARIO</th>
                <th class="text-center">ACCIONES</th>                   
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table> 
    </div>
</div>

 
  




    <!--Modal para CRUD-->
    <div id="modalCRUD" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>                
                </div>
                <form id="form"  enctype="multipart/form-data">    
                    <div class="modal-body form">                
                            <input id="id" hidden>
                            <div class="input-container ">
                                <input placeholder="" type="text" id="nombreNegocio" >
                                <label  for="nombreNegocio" class="label">Nombre Negocio</label>
                                <div class="underline"></div>
                            </div>
        
                            <div class="input-container">
                                <input type="file" class="image" name="logoLocal" id="logoLocal" accept="image/*" >
                                <label for="logoLocal" class="label">Seleccionar Logo Local</label>
                                <div class="underline"></div>
                            </div>
                    
                            <div class="input-container">
                                <input  type="text"  id="ruc"  >
                                <label for="ruc" class="label">RUC</label>
                                <div class="underline"></div>
                                </div>
                          
                            <div class="input-container">
                                <input placeholder="" type="text"  id="telefonos"  >
                                <label for="telefonos" class="label">Telefonos</label>
                                <div class="underline"></div>
                            </div>
                            <div class="input-container">
                                <input placeholder="" type="text" id="correo"  >
                                <label for="correo" class="label">Correo</label>
                                <div class="underline"></div>
                            </div>
                            <div class="input-container">
                                <input placeholder="" type="text"  id="direccion"  >
                                <label for="direccion" class="label">Direccion</label>
                                <div class="underline"></div>
                            </div>
                            <% if (user) { %>
                                <div class="input-container">
                                  <input type="text" id="usuarioModificacion"  value="<%= user.Nombres %>"  readonly >
                                  <label for="usuarioModificacion" class="label">Usuario Modificacion</label>
                                  <div class="underline"></div>
                                </div>
                              <% } %>
                              
                              
                              

                       
                            
                                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                    </div>
                </form>    
            </div>
        </div>
    </div>  



    </section> 

