
<script type="module" src="/js/ModulosJS/ModuloJsHistorial.js"></script>  
    <section class="content">
        <div class="row center mb-3 botones_Cart"  >
           
            <button id="btnVerConfiguracior" class="btn btn-dark Boton_crearPrincipal" style="width: 220px;">Ver Configuracion</button>

        </div>

            <div class="row  p-3 ">
                <div class="table-container">
                    <table id="TablaHistorial" class="custom-table" >
                        <thead>
                            <tr>
                                <th>CODIGO</th>
                                <th>NOMBRE </th>
                                <th>ColumnaModificada </th>
                                <th>ValorAntiguo</th>
                                <th>ValorNuevo</th>
                                <th>FechaModificacion</th>
                                <th>UsuarioModificacion</th>
                                <th>TIPO OPERACION</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
       

   
      
    </section>