<link rel="stylesheet" type="text/css" href="/css/Widgets.css">

<section class="content">
 
  <div class="contenedorPadreWidgetsInicio">
    <div class="small-box bg-info">
        <div class="inner">
          <h3>0</h3>
          <p>Inventario</p>
        </div>
        <div class="icon">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <a href="/api/inventario/page" class="small-box-footer">
          ver<i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>

      <div class="small-box bg-info">
        <div class="inner">
          <h3>0</h3>
          <p>Venta</p>
        </div>
        <div class="icon">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <a href="/api/venta/page" class="small-box-footer">
         Ver<i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
      <div class="small-box bg-info">
        <div class="inner">
          <h3>0</h3>
          <p>Compra</p>
        </div>
        <div class="icon">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <a href="/api/compra/" class="small-box-footer">
          ver<i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
      
    
</div>
    
   
            
   
</section>