<link rel="stylesheet" type="text/css" href="/css/Widgets.css">

<main class="Contenido-Main">
 
  <div class="contenedorPadreWidgetsInicio">
   


    <div class="contenedor_WidgetsInicio">

        <div class="contenedor_padre_info_icono">
            <div class="contenedor_numero_info">
               
                <h3 class="widget-name">Total Usuarios</h3>
            </div>
            <div class="contenedor_icono">
                <i class="fa-solid fa-user-plus"></i>
    
            </div>
        </div>
    
    
    <div class="contenedor_Botton">
        <a href="#" class="widget-button">Ver Usuarios <i class="fa fa-arrow-circle-right"></i></a>
    </div>
    </div>


    <div class="contenedor_WidgetsInicio">

        <div class="contenedor_padre_info_icono">
            <div class="contenedor_numero_info">
                <h3 class="widget-numer">150</h3>
                <h3 class="widget-name">User</h3>
            </div>
            <div class="contenedor_icono">
                <i class="fa-solid fa-user-plus"></i>
    
            </div>
        </div>
    
    
    <div class="contenedor_Botton">
        <a href="#" class="widget-button">Ver User <i class="fa fa-arrow-circle-right"></i></a>
    </div>
    </div>

    <div class="contenedor_WidgetsInicio">

        <div class="contenedor_padre_info_icono">
            <div class="contenedor_numero_info">
                <h3 class="widget-numer">150</h3>
                <h3 class="widget-name">User</h3>
            </div>
            <div class="contenedor_icono">
                <i class="fa-solid fa-user-plus"></i>
    
            </div>
        </div>
    
    
    <div class="contenedor_Botton">
        <a href="#" class="widget-button">Ver User <i class="fa fa-arrow-circle-right"></i></a>
    </div>
    </div>


    <div class="contenedor_WidgetsInicio">

        <div class="contenedor_padre_info_icono">
            <div class="contenedor_numero_info">
                <h3 class="widget-numer">150</h3>
                <h3 class="widget-name">User</h3>
            </div>
            <div class="contenedor_icono">
                <i class="fa-solid fa-user-plus"></i>
    
            </div>
        </div>
    
    
    <div class="contenedor_Botton">
        <a href="#" class="widget-button">Ver User <i class="fa fa-arrow-circle-right"></i></a>
    </div>
    </div>


    <div class="contenedor_WidgetsInicio">

        <div class="contenedor_padre_info_icono">
            <div class="contenedor_numero_info">
                <h3 class="widget-numer">150</h3>
                <h3 class="widget-name">User</h3>
            </div>
            <div class="contenedor_icono">
                <i class="fa-solid fa-user-plus"></i>
    
            </div>
        </div>
    
    
    <div class="contenedor_Botton">
        <a href="#" class="widget-button">Ver User <i class="fa fa-arrow-circle-right"></i></a>
    </div>
    </div>
    
</div>
      <!-- Agrega otra tarjeta similar para la tercera categoría -->
   
            
   
  </main>