
<link rel="stylesheet" type="text/css" href="/css/VistaCompra.css">
<style>
    /* Estilos adicionales */
 

    .container {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 30px;
    }

   

   
</style>


<section  class="content">
   
    
    
      <!-- Contenedor para la Lista de Compras -->
      <div id="vista1" class="vista">
    <div class="container mt-5">
        <div  class="row center mb-3 botones_Cart"  >
    
            <button id="btnRegistrarCompra"  class=" btn btn-success btn-margin" style="width: 300px; height: 60px; margin-top: 10px; margin-left: 5px;">Registrar Nueva Compra</button>
           
        </div>
        <div class="row  p-3 ">
            <div class="table-container">
                <table id="Tabla_Fact" class="custom-table" data-allowed-actions='<%- JSON.stringify(allowedActions) %>'>
                <thead>
                    <tr>
                        <th>ID Compra</th>
                        <th>Código de Compra</th>
                        <th>Proveedor</th>
                        <th>Fecha de Compra</th>
                        <th>Total</th>
                        <th>Estado</th>     
                        <th class="text-center">ACCIONES</th>                      
                    </tr>
                </thead>
                <tbody>
                </tbody>
                </table> 
            </div>
        </div>
    </div>
</div>     <!-- fin  Contenedor para la Lista de Compras-->


  
       <div id="vista2" class="vista">
 
           <!-- Contenido para el Registro de Compra -->
         <div class="contenedor-padre">
        
        <div class="contenedor-hijo">
      
          <!-- Formulario para el Registro de Compra -->
 <!-- Button to trigger modal -->
 <div class="SeccionBotonesSeleccion" >
    <div class="button-container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="width:300px;">
        Seleccion Atribitos
          </button>
          
          <div class="button-container2">
  <h3>   Crear Datos </h3>              <label class="popup" style=" z-index: 1;">
            <input type="checkbox">
            <div class="burger" tabindex="0">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <nav class="popup-window">
              <legend>Opciones</legend>
              <ul>
                <li>
                  <button  id="btnCrearProductos">
                    <i class="fas fa-shopping-cart"></i>Crear Producto
                  </button>
                </li>
                <li>
                  <button id="btnCrearMarca">
                    <i class="fas fa-tags"></i>Crear Marca
                  </button>
                </li>
                <hr>
                <li>
                  <button id="btnCrearTalla">
                    <i class="fas fa-shoe-prints"></i>Crear Talla
                  </button>
                </li>
                <li>
                  <button id="btnCrearColor" >
                    <i class="fas fa-palette"></i>Crear Color
                  </button>
                </li>
                <hr>
                <li>
                  <button id="btnCrearMaterial">
                    <i class="fas fa-scroll"></i>Crear Material
                  </button>
                </li>
              </ul>
            </nav>
          </label>
          </div> 
  
    </div>


</div>

  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalles del Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Formulario -->
          <form id="formDetalle" class="form">
            <!-- Inicio del select Producto -->
            <div class="input-container">
              <div class="form-group">
                <label for="selectProducto">Producto:</label>
                <select class="form-control select2" id="selectProducto"></select>
              </div>
            </div>
            <!-- Fin del select Producto -->
            
            <!-- Inicio del select Marca -->
            <div class="input-container">
              <div class="form-group">
                <label for="selectMarca">Marca:</label>
                <select class="form-control select2" id="selectMarca"></select>
              </div>
            </div>
            <!-- Fin del select Marca -->
            
            <!-- Inicio del select Color -->
            <div class="input-container">
              <div class="form-group">
                <label for="selectColor">Color:</label>
                <select class="form-control select2" id="selectColor"></select>
              </div>
            </div>
            <!-- Fin del select Color -->
            
            <!-- Inicio del select Talla -->
            <div class="input-container">
              <div class="form-group">
                <label for="selectTalla">Talla:</label>
                <select class="form-control select2" id="selectTalla"></select>
              </div>
            </div>
            <!-- Fin del select Talla -->
            
            <!-- Inicio del select Material -->
            <div class="input-container">
              <div class="form-group">
                <label for="selectMaterial">Material:</label>
                <select class="form-control select2" id="selectMaterial"></select>
              </div>
            </div>
            <!-- Fin del select Material -->
            
            <!-- Inicio del select Proveedor -->
            <div class="input-container">
              <div class="form-group">
                <label for="selectProveedor">Proveedor:</label>
                <select class="form-control select2" id="selectProveedor"></select>
              </div>
            </div>
            <!-- Fin del select Proveedor -->
            
            <!-- Inicio del select Bodega -->
            <div class="input-container">
              <div class="form-group">
                <label for="selectBodega">Bodega:</label>
                <select class="form-control select2" id="selectBodega"></select>
              </div>
            </div>
            <!-- Fin del select Bodega -->
            
            <!-- Inventario -->
            <div class="input-container" style="margin-top: 15px;">
              <button id="btnInventarioSeleccionado" class="btn btn-primary">
                <i class="fas fa-warehouse"></i> Seleccionar Inventario
              </button>
            </div>
            <!-- Fin del Inventario -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" id="btnDetalleCompras"  class="btn btn-primary"> <i class="fas fa-shopping-cart"></i> Guardar Carrito</button>
        </div>
      </div>
    </div>
  </div>
  


  <form id="formvalores" class="form_grande">
    <!-- Campos del formulario -->




<!---Seccion de selecion Empleado imput -->
<% if (user) { %>
<div class="input-container ">

<input id="idEmpleado" value="<%= user.ID_Empleado %>" hidden>
<!-- Input para mostrar el empleado seleccionado -->
<input type="text"  id="Empeleado" value="<%= user.NombreEmpleado %>"  readonly>
<label for="idEmpleado" >Empleado:</label>

</div>
<% } %>
<!--end Seccion de selecion Empleado imput -->


<!---Seccion de Ingreso de  Condicompra imput -->
<div class="input-container ">
<!-- Input para mostrar el CondigoCompra  -->
<input type="text"   id="codigoCompra" >
<label for="codigoCompra" >Codigo Compra:</label>

</div>

<!--end Seccion de Ingreso de  fechaCompra imput-->

<!---Seccion de Ingreso de  Condicompra imput -->
<div class="input-container ">
<input type="date" id="fechaCompra" >
<label  for="fechaCompra" >Fecha de Compra</label>

</div>
<!--end Seccion de Ingreso de  fechaCompra imput-->



<!---Seccion de Subtotal imput -->
 
<div class="input-container ">
    <input type="number"   id="Subtotal"  readonly  >
    <label  >Subtotal:</label>
</div>

<!--end Seccion Subtotal imput -->
  <!---Seccion de Iva imput -->
  

<div class="input-container ">

    <input type="number"   id="Iva" readonly >
    <label  >IVA:</label>

</div>

 <!--end Seccion Iva imput -->

  <!---Seccion de Total imput -->
<div class="input-container ">
  
    <input type="number"   id="Total" readonly>
    <label  >Total:</label>

</div>
        <!--end Seccion Total imput -->
        


          
  

              </form>
              <div class="row" >
              
                
                <button id="btnRegistrarCompraFact" class="btn btn-success btn-block" style="width:180px; height: 50px; margin-left: 20px; margin-top: 20px; background-color: #28a745; border-color: #28a745;">
                    <i class="fas fa-save"></i>  Registrar Compra
                </button>
                <button id="btnGuardarCompracompleta" class="btn btn-success btn-block" style="width:170px; height: 50px; margin-left: 20px; margin-top: 20px; background-color: #28a745; border-color: #28a745;">
                    <i class="fas fa-save"></i> Guardar Compra
                </button>
                <button id="btnCancelar" class="btn btn-danger btn-block" style="width:20%; height: 50px; margin-left: 20px; margin-top: 20px;">
                    <i class="fas fa-chevron-circle-left" style="color: #fff;"></i>  Cancelar
                </button>
                <!-- Botón de Información -->
<button class="btn btn-info info-btn" style="width:50px; height: 50px; margin-top:20px; margin-left: 20px;" data-toggle="modal" data-target="#infoModal">
<i class="fas fa-info-circle"></i>
</button>
            </div>
            
   
               
            </div> <!-- Fin contenedor hijo 1 datos de selecion -->

           
            </div> <!-- Fin contenedor padre -->

  




        <div class="container mt-5">
        <div class="row">
            <div class="table-container">
                <table id="Tabladetalle" class="custom-table display nowrap"  style="width: 100%;">
                <thead>
                    <tr>
                        <th>condigo_Array</th>
                        <th>condigo</th>
                        <th>Producto</th>
                        <th>cantidad </th>
                        <th>P.Compra</th> 
                        <th>Descuento</th> 
                        <th>Subtotal</th>
                        <th>Iva</th>
                        <th>Total</th>
                        <th class="text-center">ACCIONES</th>                      
                    </tr>
                </thead>
                <tbody>
                </tbody>
                </table> 
            </div>
        </div>
    </div>
</div>
        <!-- ... Puedes colocar aquí el formulario para registrar nuevas compras ... -->
    </div><!-- fin  Contenedor para el Registro de Compra-->


    
    <!-- Modal para mostrar información adicional -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="infoModalLabel">Información Detallada de los Botones</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Aquí puedes colocar la información detallada de los botones -->
              <p>Descripción de Registrar Compra: Este botón permite...</p>
              <p>Descripción de Guardar Carrito: Almacena los productos seleccionados al carrito...</p>
              <p>Descripción de Guardar Compra: Guarda la compra actual con toda la información...</p>
              <p>Descripción de Cancelar: Cancela el proceso actual de compra o registro...</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
<!-- =============================================================================================================================
MODAL LISTADO DE Inventario 
===============================================================================================================================-->
<div class="modal fade" id="mdlListadoInventario" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gray py-1">
                <h5 class="modal-title">Listado de Inventario</h5>
                <button type="button" class="btn btn-danger text-white border-0 fs-5" id="btncerrarmodalInventario">
                    <i class="far fa-times-circle"></i>
                </button>
            </div>

            <div class="row  p-3">
                <div class="table-container"> 
                    <!-- LISTADO DE inventario -->
                    <table id="tbl_Inventario" class="custom-table">
                        <thead>
                            <tr>
                        <th>#</th>
                        <th>BODEGA</th>
                        <th>ID_producto</th>
                        <th>Producto</th>
                        <th>Marca</th>
                        <th>Talla</th>
                        <th>Colores</th>
                        <th>Ma.Zapatos</th>
                        <th>P.Compra</th>
                        <th>Estado</th>          
                        <th class="text-center">ACCIONES</th>   
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Table body content goes here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /. End -->
<!-- =============================================================================================================================
MODAL Para insertar compra
===============================================================================================================================-->
   <!--Modal para CRUD-->
   <div id="modalCRUDP" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div  class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style=" z-index: 2;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CREAR PRODUCTO</h5>                
            </div>
            <form id="formP">    
                <div class="modal-body form_pequeno">                
                    <input id="id" hidden>
                  
                    <div class="input-container ">
                        <input   type="text"  id="nombre" >
                        <label  for=" nombre" class="label"  >Nombre</label>
                        <div class="underline"></div>
                    </div>
                    <div class="input-container ">
                        <input  type="text" id="descripcion" >
                        <label  for=" descripcion" class="label">Descripcion</label>
                        <div class="underline"></div>
                    </div>
                    <div class="input-container">               
                        <select  id="id_categoria" aria-label="select"> </select>
                            <label for="id_categoria" class="label">Categoria</label>
                            <div class="underline"></div>
                        </div>
                        <div class="input-container">
                            <select id="estado" >
                                <option value="Activo">Activo</option>
                            </select>
                            <label for="estado" class="label">Estado</label >
                            <div class="underline"></div>
                        </div>
                            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                </div>
            </form>    
        </div>
    </div>
</div>  

<!-- /. End -->
<!-- =============================================================================================================================
MODAL INSERCCION MARCA
===============================================================================================================================-->

    <!--Modal para CRUD-->
    <div id="modalCRUDM" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">CREAR MARCA</h5>                
                </div>
                <form id="formM">    
                    <div class="modal-body form">                
                            <input id="id" hidden>
                         
                            <div class="input-container ">
                                <input  type="text" id="nombrem" >
                                <label  for=" nombrem" class="label">Nombre</label>
                                <div class="underline"></div>
                            </div>
                            <div class="input-container ">
                                <input  type="text" id="detalleMarca" >
                                <label  for="detalleMarca" class="label">Detalle</label>
                                <div class="underline"></div>
                            </div>
                            <div class="input-container">
                                <select id="estado" >
                                    <option value="Activo">Activo</option>
                                </select>
                                <label for="estado" class="label">Estado</label>
                                <div class="underline"></div>
                            </div>
                         
                            
                                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                    </div>
                </form>    
            </div>
        </div>
    </div>  
<!-- /. End -->
<!-- =============================================================================================================================
MODAL INSERCCION TALLA
===============================================================================================================================-->

 <!--Modal para CRUD-->
 <div id="modalCRUDT" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CREAR TALLA</h5>                
            </div>
            <form id="formT">    
                <div class="modal-body form_pequeno">                
                        <input id="id" hidden>
                      

                        <div class="input-container ">
                            <input  type="text" id="NumeroTalla" >
                            <label  for="NumeroTalla" class="label">Numero Talla</label>
                            <div class="underline"></div>
                        </div>
                        <div class="input-container">
                            <select id="estado" >
                                <option value="Activo">Activo</option>
                            </select>
                            <label for="estado" class="label">Estado</label>
                            <div class="underline"></div>
                        </div>
                     
                        
                            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                </div>
            </form>    
        </div>
    </div>
</div>  

<!-- /. End -->
<!-- =============================================================================================================================
MODAL INSERCCION COLOR
===============================================================================================================================-->
  <!--Modal para CRUD-->
  <div id="modalCRUDC" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CREAR COLOR</h5>                
            </div>
            <form id="formC">    
                <div class="modal-body form_pequeno">                
                        <input id="id" hidden>


                        <div class="input-container ">
                            <input type="text" id="colorr" >
                            <label  for="colorr" class="label">Color</label>
                            <div class="underline"></div>
                        </div>
                  
                        <div class="input-container">
                            <select id="estado" >
                                <option value="Activo">Activo</option>
                            </select>
                            <label for="estado" class="label">Estado</label>
                            <div class="underline"></div>
                        </div>
                     
                        
                            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                </div>
            </form>    
        </div>
    </div>
</div>  


<!-- /. End -->
<!-- =============================================================================================================================
MODAL INSERCCION MATERIAL
===============================================================================================================================-->
 <!--Modal para CRUD-->
 <div id="modalCRUDMT" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CREAR MATERIAL</h5>                
            </div>
            <form id="formMT">    
                <div class="modal-body form_grande">                
                        <input id="id" hidden>
                        
                        <div class="input-container ">
                            <input type="text" id="nombremt" >
                            <label  for="nombremt" class="label">Nombre del Material</label>
                           
                        </div>

                    
    
                        <div class="input-container ">
                            <textarea  id="descripcionmt" required></textarea>
                            <label  for="descripcionmt" class="label">Descripción</label>
                       
                        </div>
    
                        <div class="input-container ">
                            <input  type="text"  id="tipoMaterialmt" required>
                            <label  for="tipoMaterialmt" class="label">Tipo de Material</label>
                      
                        </div>
    
                        <div class="input-container ">
                            <input  type="text" id="tipodeCosturamt" required>
                            <label  for="tipodeCosturamt" class="label">Tipo de Costura</label>
                          
                        </div>
    
                        <div class="input-container ">
                            <input  type="text"  id="tipoSuelamt" required>
                            <label for="tipoSuelamt"  class="label">Tipo de Suela</label>
                        </div>
    
                        <div class="input-container">
                            <input  type="text" id="fabricantemt" required>
                            <label for="fabricantemt"  class="label">Fabricante</label>
                        </div>
    
                        <div class="input-container">
                            <textarea  id="observacionesmt" required></textarea>
                            <label for="observacionesmt"  class="label">Observaciones</label>
                        </div>

                        <div class="input-container">
                            <select id="estadomt" >
                                <option value="Activo">Activo</option>
                            </select>
                            <label for="estadomt"  class="label">Estado</label>
                        </div>
                        
                     
                        
                            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                </div>
            </form>    
        </div>
    </div>
</div>  


<!-- /. End -->
<!-- =============================================================================================================================
MODAL INSERCCION PROVEEDOR
===============================================================================================================================-->
  <!--Modal para CRUD-->
  <div id="modalCRUDPV" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CREAR PROVEEDOR</h5>                
            </div>
            <form id="formPV">    
                <div class="modal-body form_grande">                
                        <input id="id" hidden>


                        <div class="input-container ">
                            <input  type="text" id="nombrepv" >
                            <label  for=" nombrepv" class="label">Nombre</label>
                      
                        </div>
                       
                        <div class="input-container ">
                          <input placeholder="" type="text" class="input" id="direccionpv" >
                          <label  for="direccionpv" class="label">Direccion</label>
                      </div>
                   
                      <div class="input-container ">
                        <input placeholder="" type="text" id="telefonopv" >
                        <label  for="telefonopv" class="label">Telefono</label>
                    </div>
                    <div class="input-container ">
                        <input placeholder="" type="text"  id="rucpv" >
                        <label  for="rucpv" class="label">ruc</label>
                    </div>
                    <div class="input-container ">
                        <input placeholder="" type="text" id="emailProveedorpv" >
                        <label  for="emailProveedorpv" class="label">Email</label>
                    </div>
                        <div class="input-container">
                            <select id="estadopv">
                                <option value="Activo">Activo</option>
                            </select>
                            <label for="estadopv" class="label">Estado</label>
                        </div>
                     
                        
                            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                </div>
            </form>    
        </div>
    </div>
</div>  

<!-- /. End -->
<!-- =============================================================================================================================
MODAL INSERCCION BODEGA
===============================================================================================================================-->
 <!-- Modal para Operaciones CRUD -->
 <div id="modalCRUDB" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="error-container"></div>

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Encabezado del Modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CREAR BODEGA</h5>
            </div>

            <!-- Formulario en el Modal -->
            <form id="formB">
                <!-- Cuerpo del Modal -->
                <div class="modal-body form_pequeno">
                    <!-- Campos del Formulario -->
                    <input id="id" hidden>
                    
    
                 
                    <div class="input-container">
                        <input placeholder="" type="text"  id="nombreB">
                        <label for="nombreB" class="label">Nombre</label>
                        <div class="underline"></div>
                    </div>
                    <div class="input-container">
                        <input placeholder="" type="text"  id="ubicacionB">
                        <label for="ubicacionB" class="label">Ubicacion</label>
                        <div class="underline"></div>
                    </div>
                    <div class="input-container">
                        <select id="estadoB" class="input">
                            <option value="Activo">Activo</option>
                        </select>
                        <label for="estadoB" class="label">Estado</label>
                        <div class="underline"></div>
                    </div>
                </div>

                <!-- Pie del Modal con Botones de Cancelar y Guardar -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
 


<!-- /. End -->

<!-- =============================================================================================================================
MODAL Detallecompra
===============================================================================================================================-->
<div class="modal fade" id="mdlDetallecompra"  tabindex="-1">

    <div class="modal-dialog modal-xl" role="document">

        <!-- contenido del modal -->
        <div class="modal-content">

            <!-- cabecera del modal -->
            <div class="modal-header bg-gray py-1">

                <h5 class="modal-title">Detalle del producto</h5>

                <button type="button" class="btn btn-danger text-white border-0 fs-5"  id="btnDetallecompra">
                    <i class="far fa-times-circle"></i>
                </button>

            </div>

            <!-- cuerpo del modal -->
            <div class="modal-body">

                <div class="row">

                    <div class="col-12">
                        <!--LISTADO DE PRODUCTOS -->
                        <form id="formvaloress" class="form">
                            <!-- Campos del formulario -->
                        
                         <!---Seccion de selecion Marca imput -->
                    
                       
                         <div class="input-container ">
                            <input id="idMarcapro" hidden>
                            <!-- Input para mostrar la marca seleccionado -->
                            <input type="text"  id="marcapro"   >
                            <label for="marcapro" class="label">Marca:</label>
                            <div class="underline"></div>
                        </div>
                            <!--end Seccion de selecion Marca imput-->
                            
                      <!---Seccion de selecion Color imput -->
                    
                      <div class="input-container ">
                        <input id="idColorpro" hidden>
                        <!-- Input para mostrar la Color seleccionado -->
                        <input type="text"  id="colorpro" >
                        <label for="colorpro"  class="label">Color:</label>
                        <div class="underline"></div>
                    </div>
                        <!--end Seccion de selecion Color imput-->
                        
                  <!---Seccion de selecion Talla imput -->
                    
                  <div class="input-container ">
                    <input id="idTallapro" hidden>
                    <!-- Input para mostrar la Talla seleccionado -->
                    <input type="text"  id="tallapro"   >
                    <label for="tallapro"  class="label">TaLLa:</label>
                    <div class="underline"></div>
                </div>
                    <!--end Seccion de selecion Talla imput-->
                
                  <!---Seccion de selecion Material imput -->
                    
                  <div class="input-container ">
                    <input id="idMaterialpro" hidden>
                    <!-- Input para mostrar la Material seleccionado -->
                    <input type="text"  id="materialpro"   >
                    <label for="materialpro"  class="label">Material:</label>
                    <div class="underline"></div>
                </div>
                    <!--end Seccion de selecion Material imput-->


                
                <!---Seccion de selecion Bodega imput -->
                <div class="input-container ">
                <input id="idbodegapro" hidden>
                <!-- Input para mostrar el Nombre de la bodega seleccionada -->
                <input type="text"  id="nombrebodegapro"  >
                <label for="nombrebodegapro"  class="label">Bodega:</label>
                <div class="underline"></div>
                </div>
                <!--end Seccion de selecion Bodega imput -->
                
                
                         <!--end Seccion Iva imput -->
                                      </form>
                    </div>

                 </div>

            </div>

        </div>

    </div>

</div>

 </section> 

<!-- Otros scripts... -->
<script type="module" src="/js/ModulosJS/ModuloJSCompra.js"></script>
