
<script  type="module" src="/js/ModulosJS/ModulosJSUsuarios.js"></script>

   <style>
   .vista {
    display: none;
  }
   </style> 



    <section class="content">

        
        <div id="vista1" class="vista">
            <div class="container-fluid">
                <!-- Botón para Activar Modal CRUD -->
                <button id="btnCrear" class="btn btn-dark">Crear</button>
        
                <!-- Visualización de DataTables -->
                <div class="row shadow-lg p-3 mb-5">
                    <div class="col">
                        <table id="Tabla" class="table table-striped table-bordered" style="width:100%">
                            <!-- Encabezados de la Tabla -->
                            <thead>
                                <tr>
                                    <th>CODIGO</th>
                                    <th>NOMBRES</th>
                                    <th>APELLIDOS</th>
                                    <th>LOGIN.U</th>
                                    <th>ROL</th>
                                    <th>ESTADO</th>
                                    <th>FECHA.R</th>
                                    <th class="text-center">ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody></tbody> <!-- El Cuerpo de la Tabla se Poblará Dinámicamente -->
                        </table>
                    </div>
                </div>
            </div>
        
        </div>


        <div id="vistaCUser2" class="vista">
            <h2>Cambiar Contraseña</h2> <!-- Agrega el título aquí -->
        
            <form id="formCUser" class="form_pequeno">
                <div class="input-container">
                    <input  type="text"  id="User" readonly>
                    <label for="Userh" class="label">Usuario</label>
                    <div class="underline"></div>
                </div>
                <div class="input-container ">
                    <input placeholder="" type="password" id="loginClaveC">
                    <label for="loginClaveC" class="label">Contraseña</label>
                    <div class="underline"></div>
                </div>


                <div class="modal-footer">
                    <button type="button" id="btnconcelarC" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnGuardarContrasena" class="btn btn-dark">Guardar</button>
                </div>
            </form>
        </div>
        

        <div id="vistaCUser3" class="vista">
              <!-- Inputs -->
              <div class="row">
        
                <!-- Botón -->
          
                <div class="col  justify-content-end">
                    <button id="btnMostrarLista" type="button" class="btn btn-primary me-2">Mostrar Lista</button>
                    <button  id="btnIrVista1"  class="btn btn-primary ms-2">Ir a la Vista 1</button>
                </div>
                
              

           </div>
           <!--Aqui mostraremos la lista dinamica -->
           <div id="listaSeciones" class="row justify-content-center">
            <div class="col-md-6 mx-auto" id="listaDinamicaContainer">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="text-center">Título de la Lista</h4>
                    <button id="cerrarLista" class="btn btn-outline-secondary">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <ul id="listaDinamica" class="list-group">
                    <!-- Elementos de la lista se agregarán dinámicamente aquí -->
                </ul>
            </div>
        </div>
        
        
        
        
              
            <!-- Visualización de DataTables -->
            <div  id="ocultarTablaInfoUser"  class="row shadow-lg p-3 mb-5">
                <div class="col">
                    <!-- Tabla de Historial de Usuario -->
                    <table id="Tabla_InfoUser" class="table table-striped table-bordered" style="width:100%">
                        <!-- Encabezados de la Tabla -->
                        <thead>
                            <tr>
                                <th> Codigo</th>
                                <th>Login.U</th>
                                <th>Columna.M</th>
                                <th >Valor.A</th>
                                <th>Valor.N</th>
                                <th>Fecha.M</th>
                                <th>Usuario.M</th>
                                <th>Tipo.O</th>
                            </tr>
                        </thead>
                        <tbody></tbody> <!-- El Cuerpo de la Tabla se Poblará Dinámicamente -->
                    </table>
                </div>
            </div>
        
          
        </div>
        
        

        
            <!-- Modal para Operaciones CRUD -->
            <div id="modalCRUD" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="error-container"></div>
    
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- Encabezado del Modal -->
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                        </div>
        
                        <!-- Formulario en el Modal -->
                        <form id="form">
                            <!-- Cuerpo del Modal -->
                            <div class="modal-body form">
                                <!-- Campos del Formulario -->
                                <input id="id" hidden>
                                <div class="input-container">
                                    <input placeholder="" type="text"  id="nombres">
                                    <label for="nombres" class="label">Nombres</label>
                                    <div class="underline"></div>
                                </div>
                                <div class="input-container">
                                    <input placeholder="" type="text" id="apellidos">
                                    <label for="apellidos" class="label">Apellidos</label>
                                    <div class="underline"></div>
                                </div>
                                <div class="input-container">
                                    <input placeholder="" type="text"  id="loginUsuario">
                                    <label for="loginUsuario" class="label">Login Usuario</label>
                                    <div class="underline"></div>
                                </div>
                                <div class="input-container conteEliminarPass">
                                    <input placeholder="" type="password" id="loginClave">
                                    <label  for="loginClave" class="label">Contraseña</label>
                                    <div class="underline"></div>
                                </div>
                       
                                <div class="input-container">               
                                    <select  id="Idrol" aria-label="select"> </select>
                                        <label for="Idrol" class="label">Rol</label>
                                        <div class="underline"></div>
                                    </div>

                                    <% if (user) { %>
                                        <div class="input-container">
                                          <input   id="usuarioModificacion"  value="<%= user.Nombres %>"  readonly >
                                          <label for="usuarioModificacion" class="label">Usuario Modificacion</label>
                                          <div class="underline"></div>
                                        </div>
                                      <% } %>
                                <div class="input-container">
                                    <select id="estado" >
                                        <option value="Activo">Activo</option>
                                        <!-- Puedes agregar más opciones según tus necesidades -->
                                    </select>
                                    <label for="estado" class="label">Estado</label>
                                    <div class="underline"></div>
                                </div>


                            </div>
        
                            <!-- Pie del Modal con Botones de Cancelar y Guardar -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
      
        </div>
    </section>
