/* Estilos generales */
html, body {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}

.ContenedorPadre-CSS-GRID  {
  display: grid;
  height: 100vh;
  grid-template-areas: 
    'aside header' 
    'aside main' 
    'aside main';
  grid-template-columns: 250px auto;
  grid-template-rows: 90px 1fr;

}

/* Estilos para el header */
header {
grid-area: header;
background-color: #2E86C1;
color: white;
padding: 10px;
display: grid;
grid-template-columns: 2fr 1fr auto 1fr; /* Dividir en cuatro columnas */
align-items: center;
}

/* Estilos para la sección del logo */
.logo-section {
grid-column: 1 / span 2;
display: flex;
align-items: center;
}

.logo-section img {
width: 40px;
height: 40px;
margin-right: 10px;
}

.local-name {
font-size: 1.2em;
}

/* Estilos para la sección de notificaciones */

.container_notifications {
grid-column: 3; /* Notificaciones en la tercera columna */
display: flex;
align-items: center;
margin-right: 10px; 
}

.notifications-section {
position: relative;
}

.button_notifications {
padding: 10px 20px;
background-color: #3498db;
color: #fff;
border: none;
cursor: pointer;
border-radius: 5px;
}
.button_notifications:hover {
background-color: #2980b9;
}

.notification-dropdown {
position: absolute;
top: 60px;
left: 0;
padding: 0;
width: 300px;
display: none;
flex-direction: column;
background-color: #8d8d8d;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
border-radius: 5px;
border: 1px solid #ccc;
}

.notification-dropdown.ul{
list-style: none;
padding: 0;
}
/* Estilos para la lista de notificaciones */
.notification-dropdown.active ul {
list-style: none;
padding: 0;
}

.notification-dropdown.active li {
padding: 10px;
border-bottom: 1px solid #050505;
cursor: pointer;
transition: background-color 0.3s ease;
}

.notification-dropdown.active li:last-child {
border-bottom: none;
}

.notification-dropdown.active li:hover {
background-color: #db4949;
}


.notification-icon {
margin-right: 10px;
}
.notification-dropdown.active {
display: flex;
}

.user-section {
grid-column: 4; /* Usuario en la cuarta columna */
display: flex;
align-items: center;
margin-right: 10px; /* Ajuste de margen a la derecha */
position: relative; /* Añadimos posición relativa para posicionar el submenú correctamente */
}

.user-section img {
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 10px;
cursor: pointer;
}

.user-name {
font-size: 1.2em;
}

/* Estilos para el menú de usuario */
.user-menu {
display: none;
position: absolute;
top: 60px;
left: 0;
background-color: #fff;
border: 2px solid #ccc;
padding: 10px;
width: 200px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

.user-menu.active {
display: block;
}

.user-menu .arrow-up {
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #fff;
position:absolute;
top: -10px;
right: 190px;
}

/* Estilos para la barra lateral (sidebar) */
aside {
grid-area: aside;
background-color: #333;
color: white;
padding: 15px;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

/* Estilos para el menú */
.menu-section {
background-color: #444;
border-radius: 10px;
margin-top: 30px;
overflow: hidden;
}

.menu {
list-style-type: none;
padding: 0;
margin: 0;
}

.menu li {
position: relative;
}

.menu a {
color: white;
text-decoration: none;
display: block;
padding: 15px 20px;
transition: background-color 0.3s ease;
}

.menu a:hover {
background-color: #555;
}

/* Estilos para los submenús */
.submenu {
max-height: 0;
overflow: hidden;
transition: max-height 0.3s ease-in-out;
border-top: 1px solid #556B2F;
}

.menu li:hover .submenu {
max-height: 200px;
}

/* Estilos para la sección del perfil de usuario */
.user-profile {
display: flex;
align-items: center;
margin-top: 50px;
}

.profile-card {
display: flex;
align-items: center;
}

.profile-card__img img {
width: 50px;
height: 50px;
border-radius: 50%;
margin-right: 10px;
}

.profile-card__info {
display: flex;
flex-direction: column;
}

.profile-card__title {
font-weight: bold;
}

.profile-card__subtitle {
color: #555;
}

/* Estilos para el contenido principal */
.Contenido-Main {
grid-area: main;
padding: 20px;
}

