<!-- Scripts -->
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<!-- Estilos -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">

    <link rel="stylesheet" type="text/css" href="/css/Formulario.css">
    <section class="Contenido-Main" id="dynamic-content">
       <div class="Contenedor_Mostrar">
    
        
    <div class="container-fluid">
        <button id="btnCrear" class="btn btn-dark ">Crear</button>
        <button id="btnMostrarActivos" class="btn btn-primary">Mostrar Activos</button>
        <button id="btnMostrarInactivos" class="btn btn-secondary">Mostrar Inactivos</button>
        
        <div class="row shadow-lg p-3 mb-5">
            <div class="col">
                <table id="Tabla" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>CODIGO</th>
                        <th>NUMERO TALLA</th>
                        <th>ESTADO</th>     
                                                  
                                         
                        <th class="text-center">ACCIONES</th>                      
                    </tr>
                </thead>
                <tbody>
                </tbody>
                </table> 
            </div>
        </div>
    </div>

    <!--Modal para CRUD-->
    <div id="modalCRUD" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>                
                </div>
                <form id="form">    
                    <div class="modal-body form">                
                            <input id="id" hidden>
                            <div class="input-container ">
                                <input placeholder="" type="text" class="input" id="NumeroTalla" >
                                <label  for="NumeroTalla">Numero Talla</label>
                            </div>
                            <div class="input-container">
                                <select id="estado" class="input">
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                    <option value="En revisión">En revisión</option>
                                    <option value="Suspendido">Suspendido</option>
                                    <option value="Eliminado">Eliminado</option>
                                </select>
                                <label for="estado">Estado</label>
                            </div>
                         
                            
                                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                    </div>
                </form>    
            </div>
        </div>
    </div>  


</div>
    </section> 
    <script>
        $(document).ready(function() {   
                 let url = 'http://localhost:3000/Talla/';
                 let opcion = null;
                 let codigo, nombre, estado, fila;
     
                  // Función para mostrar u ocultar el botón de agregar
             function mostrarBotonAgregar(mostrar) {
                 if (mostrar) {
                     $("#btnCrear").show();
                 } else {
                     $("#btnCrear").hide();
                 }
             }
     
                 //MOSTRAR
           
                 let tabla = $('#Tabla').DataTable({            
                     "ajax":{
                         "url": url,
                         "dataSrc":""
                     },
                     "language": {
           "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
         },
                     "columns":[
                         {"data":"Codigo"},
                         {"data":"NumeroTalla"},
                         {"data":"Estado"},
                         {
                     "render": function (data, type, row) {
                         // Conditionally render buttons based on estado
                         if (row.Estado === 'Activo') {
                             return "<div class='text-center'><div class='btn-group'>" +
                                 "<button class='btn btn-info btn-sm btnEditar'>Editar</button>" +
                                 "<button class='btn btn-danger btn-sm btnBorrar'>Dar debaja</button>" +
                                 "</div></div>";
                         } else if (row.Estado === 'Inactivo') {
                             return "<div class='text-center'><div class='btn-group'>" +
                                 "<button class='btn btn-success btn-sm btnActivar'>Activar</button>" +
                                 "</div></div>";
                         } else {
                             return "";
                         }
                     }
                 }
             ] 
         });
     
      
                  // Filtrar categorías
                  function filtrarPorEstado(estado) {
      
       // Actualizar la llamada AJAX para enviar el filtro al servidor
       tabla.ajax.url(url + `?filtro=${estado}`).load();
     }
     
                         // Mostrar categorías activas al inicio
                         filtrarPorEstado('Activos');
     
                         // Botones de filtrado
                         $("#btnMostrarActivos").click(function () {
                             filtrarPorEstado('Activos');
                             mostrarBotonAgregar(true); // Mostrar botón de agregar
                         });
     
                         $("#btnMostrarInactivos").click(function () {
                             filtrarPorEstado('Inactivos');
                             mostrarBotonAgregar(false); // Ocultar botón de agregar
                         });
                 //CREAR
                 $("#btnCrear").click(function(){
                     opcion='crear';            
                     id=null;
                     $("#form").trigger("reset");
                     $(".modal-header").css( "background-color", "#23272b");
                     $(".modal-header").css( "color", "white" );
                     $(".modal-title").text("Crear Artículo");
                     $('#modalCRUD').modal('show');	    
                 });    
                 //EDITAR        
                 $(document).on("click", ".btnEditar", function(){		            
                     opcion='editar';
                     fila = $(this).closest("tr");	        
                     codigo = parseInt(fila.find('td:eq(0)').text());
                     NumeroTalla = fila.find('td:eq(1)').text();
                     estado = fila.find('td:eq(2)').text();            
                     $("#id").val(codigo);
                     $("#NumeroTalla").val(NumeroTalla);
                     $("#estado").val(estado);
                     $(".modal-header").css("background-color", "#7303c0");
                     $(".modal-header").css("color", "white" );
                     $(".modal-title").text("Editar Artículo");		
                     $('#modalCRUD').modal('show');		  
                      
                 });
             
     
     // Dar Baja o Activar
     // Dar Baja o Activar
     $(document).on("click", ".btnBorrar, .btnActivar", function () {
         fila = $(this).closest("tr");
         estado = fila.find('td:eq(2)').text();
         codigo = parseInt(fila.find('td:eq(0)').text());
     
         if (estado.toLowerCase() === 'activo') {
             Swal.fire({
                 title: '¿Confirma dar de baja el registro?',
                 showCancelButton: true,
                 confirmButtonText: `Confirmar`,
             }).then((result) => {
                 if (result.isConfirmed) {
                     console.log('Enviando solicitud para dar de baja:', 'http://localhost:3000/Talla/DarDeBaja/' + codigo);
     
                     $.ajax({
                         url: 'http://localhost:3000/Talla/DarDeBaja/' + codigo,
                         method: 'put',
                         success: function () {
                             console.log('Éxito al dar de baja el registro');
                             tabla.row(fila).remove().draw();
                             Swal.fire('¡Registro Dado de Baja!', '', 'success');
                         },
                         error: function (xhr, textStatus, errorThrown) {
                             console.error('Error al dar de baja el registro:', textStatus, errorThrown);
                         }
                     });
                 }
             });
         } else if (estado.toLowerCase() === 'inactivo') {
             Swal.fire({
                 title: '¿Confirma activar el registro?',
                 showCancelButton: true,
                 confirmButtonText: `Confirmar`,
             }).then((result) => {
                 if (result.isConfirmed) {
                     console.log('Enviando solicitud para activar:', 'http://localhost:3000/Talla/Activar/' + codigo);
     
                     $.ajax({
                         url: 'http://localhost:3000/Talla/Activar/' + codigo,
                         method: 'put',
                         success: function () {
                             console.log('Éxito al activar el registro');
                             tabla.row(fila).remove().draw();
                             Swal.fire('¡Registro Activado!', '', 'success');
                         },
                         error: function (xhr, textStatus, errorThrown) {
                             console.error('Error al activar el registro:', textStatus, errorThrown);
                             console.log('Detalles del error:', xhr.responseText);
                         }
                     });
                 }
             });
         }
     });
     
     
     
                 //submit para el CREAR y EDITAR
                 $('#form').submit(function(e){       
                                                 
                     e.preventDefault();
                     
                     codigo = $.trim($('#id').val());    
                     NumeroTalla = $.trim($('#NumeroTalla').val());
                     estado = $("#estado").val() ;          
                     if(opcion=='crear'){                
                         $.ajax({                    
                             url: url,
                             method: 'post',                                                         
                             contentType: 'application/json',  
                             data:  JSON.stringify({NumeroTalla:NumeroTalla, estado:estado}),                       
                             success: function(data) {                       
                                 tabla.ajax.reload(null, false);    
                                 $('#btnCrear').prop('disabled',false);  
                                                  
                             }
                             
                         });	
                     }
                     if(opcion=='editar'){
                         console.log("EDITAR");
                         $.ajax({                    
                             url: url+codigo,
                             method: 'put',                                        
                             contentType: 'application/json',  
                             data:  JSON.stringify({codigo:codigo, NumeroTalla:NumeroTalla, estado:estado}),                       
                             success: function(data) {                       
                                 tabla.ajax.reload(null, false);                        
                             }
                         });	
                      }        		        
                     $('#modalCRUD').modal('hide');											     			
                 });
             });
     
     
             </script>
     