<main class="Contenido-Main">
    <!-- Info boxes -->
    
    <div class="card">
      <div class="card-content">
        <div class="card-icons">
          <i class="fas fa-database"></i> <!-- Iconos para inventario -->
        </div>
        <div class="card-info">
          <h2>Inventario</h2>
          <p>Cantidad: XX</p>
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-content">
        <div class="card-icons">
          <i class="fas fa-database"></i> <!-- Iconos para inventario -->
        </div>
        <div class="card-info">
          <h2>Inventario</h2>
          <p>Cantidad: XX</p>
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-content">
        <div class="card-icons">
          <i class="fas fa-database"></i> <!-- Iconos para inventario -->
        </div>
        <div class="card-info">
          <h2>Inventario</h2>
          <p>Cantidad: XX</p>
        </div>
      </div>
    </div>

      
    <div class="card">
      <div class="card-content">
        <div class="card-icons">
          <i class="fas fa-database"></i> <!-- Iconos para inventario -->
        </div>
        <div class="card-info">
          <h2>Inventario</h2>
          <p>Cantidad: XX</p>
        </div>
      </div>
    </div>
    
    
      <!-- Agrega otra tarjeta similar para la tercera categoría -->
   
            
    
  </main>