/* Importamos variables globales */
@import '/css/VariablesGlobales.css';



/* Estilos comunes */
 h1, h2, h3, p, span {
  font-family: var(--font-family);
  color: var(--color-1);
}
.grid-actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 30px;
}
.button {  
  text-decoration: none;
  line-height: 1;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0,0,0,.05);
  background-color: #fff;
  color: #121212;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-block;
  margin: 10px; /* ajusta según sea necesario */
  width: auto; /* ajusta según el contenido */
  height: auto; /* ajusta según el contenido */
}

.button-decor {
  position: absolute;
  inset: 0;
  background-color: var(--clr);
  transform: translateX(-100%);
  transition: transform .3s;
  z-index: 0;
}

.button-content {
  display: flex;
  align-items: center;
  font-weight: 800;
  position: relative;
  overflow: hidden;
}

.button__icon {
  width: 48px; /* ajusta según sea necesario */
  height: 40px; /* ajusta según sea necesario */
  background-color: var(--clr);
  display: grid;
  place-items: center;
}

.button__text {
  display: inline-block;
  transition: color .2s;
  padding: 2px 1.5rem 2px;
  padding-left: .75rem;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  max-width: 400px; /* ajusta según sea necesario */
}

.button:hover .button__text {
  color: #fff;
}

.button:hover .button-decor {
  transform: translate(0);
}

/* Contenedor principal */
.card {
  width: 600px;
  min-height: 350px; /* Cambiado a min-height para que se expanda con el contenido */
  max-height: 300px; /* Altura máxima con scroll */
  overflow-y: auto; /* Habilitar barra de desplazamiento vertical */
  background: #E8EAEA;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s; /* Agregado para una transición suave */
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--color-5); /* Color de fondo para el header */
  border-radius: 15px 15px 0 0; /* Añadido para redondear las esquinas superiores */
}

.title {
  font-weight: 900;
  font-size: 1.3em;
  margin: 0;
}

/* Contenedor de búsqueda */
.search-container {
  padding: 10px 15px;
}

#searchInput {
  width: 100%;
 height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px; /* Agregado para espacio entre el título y el campo de búsqueda */
}

/* Contenedor de usuarios */
.user__container {
  display: flex;
  flex-direction: column;
}

/* Usuario */
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

/* Contenido de usuario */
.user__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 45px;
  border-radius: 5px;
  background-color: var(--color-8); /* Ajusta el color según tu paleta */
}

/* Nombre del usuario */
.name {
  font-weight: 800;
}

/* Botón de Activar */
.follow {
  padding: 8px 16px;
  background-color: var(--color-primary); /* Ajusta el color según tu paleta */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.follow:hover {
  background-color: var(--color-primary-dark); /* Ajusta el color según tu paleta */
}

/* Hover sobre el usuario */
.user:hover {
  background-color: #b3b6b6;
}

/* Hover sobre el botón de seguir */
.follow:hover {
  background-color: #2c3136;
}

/* Efecto de cambio de tamaño al enfocar el campo de búsqueda */
#searchInput:focus ~ .card {
  width: 400px; /* Puedes ajustar el tamaño deseado al enfocar */
}

.text{
  margin-left: 10px;
}
