/*Importamos variables globales*/
@import '/css/VariablesGlobales.css'; 

/*css de la vista  Usuarios*/
/* Estilo para el título de la lista */


aside{
    background-color: var(--color-5) !important;
}


#listaSeciones {
    display: none;
    max-height: 380px;
    overflow-y: auto;
}
#listaDinamicaContainer {
    position: relative;
}

#listaDinamicaContainer .d-flex {
    position: sticky;
    top: 0;
    background-color: #204141; /* Puedes ajustar el color de fondo según tus preferencias */
    z-index: 1000; /* Ajusta el índice z según sea necesario */
    padding: 0; /* Ajusta el relleno según tus preferencias */
    border-bottom: 1px solid #ddd; /* Añade un borde inferior para separar del contenido de la lista */
}
/* Estilo para la lista */
#listaDinamica {
   
    width: 100%; /* Ancho automático según el contenido */
}

/* Estilo para el contenedor interno */
#listaSeciones .col-md-6 {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 5px; /* Ajusta el relleno según tus preferencias */
    width: 100%; /* Ancho automático según el contenido */
}

/* Estilo para el botón cerrarLista */
#cerrarLista {
    background-color: crimson;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}


/* Estilo para los elementos de la lista */
.list-group-item {
    background-color: #f8f9fa; /* Color de fondo */
    border: 1px solid #dee2e6; /* Borde */
    margin-bottom: 5px; /* Espaciado inferior entre elementos */
    padding: 10px; /* Relleno interior */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: var(--color-10);
}

/* Estilo para los elementos fuertes dentro de la lista */
.list-group-item strong {
    color: #007bff; /* Color del texto para elementos fuertes */
}

/* Estilo para el texto dentro de la lista */
.list-group-item p {
    margin: 0; /* Elimina el margen predeterminado */
}



.form {
    display: flex;
    flex-direction: row; /* Organiza los elementos en fila */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola fila */
    gap: 15px; /* Espacio entre elementos */
    margin-top:10px;
   align-items: center;
}

.form_grande {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 30px;
}

.form_pequeno {
    display: grid;
    grid-template-columns:  repeat(2, 1fr); /* Columnas con tamaño mínimo de 200px */
    gap: 10px;
    margin-top: 50px;
}

#vistaCUser2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    width: 500px;
    margin: auto;
    border-radius: 10px; /* Ajusta el valor según sea necesario para redondear los bordes */
}


#vistaCUser2 h2{
    color: var(--color-10);
    font-family: var(--font-family);
}

.input-container {
    position: relative;
    margin-bottom: 30px;
    width: 230px;
}

.input-container input,
.input-container select,
.input-container textarea {
    font-size: 16px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 8px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input:focus ~ .label,
.input-container input:valid ~ .label,
.input-container input[type="number"]:valid ~ .label,
.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label,
.input-container select:focus ~ .label,
.input-container select:valid ~ .label,
.input-container textarea:focus ~ .label,
.input-container textarea:valid ~ .label {
    top: -20px;
    font-size: 14px;
    color: #333;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input:focus ~ .underline,
.input-container input:valid ~ .underline,
.input-container input[type="number"]:valid ~ .underline,
.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline,
.input-container select:focus ~ .underline,
.input-container select:valid ~ .underline,
.input-container textarea:focus ~ .underline,
.input-container textarea:valid ~ .underline {
    transform: scaleX(1);
}
