/*Importamos variables globales*/
@import '/css/VariablesGlobales.css'; 
/* Estilos para las imágenes SVG */
.svg-top-left,
.svg-bottom-right {
  position: absolute;
  z-index: 2; /* Asegura que la imagen esté encima del contenedor */
}

.svg-bottom-right {
  width: 120px;
  height: 120px;
top:430px;
 left: 740px;
}
.svg-top-left{
 
 width: 120px;
  height: 120px;
  margin-top:-450px;
 left: 500px;

}
.rotar-imagen {
  transform: rotate(-10deg);
}


body {

  background-color:var(--color-4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  position: relative;
  z-index: 1; /* Asegura que el contenedor esté por encima de las imágenes SVG */
  background-color: var(--color-2);
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


  width: 300px;
  height:400px ;
}

.login-container h2 {
  text-align: center;
  color: black !important;
  font-size: 2.1rem;
}

.form-group {
  margin-bottom: 10px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  color: black !important;
  font-size: 1.4rem;
}

.login-container input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.3rem;
}

button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}
