.modal-dialog {
    /* Cambia el tamaño del modal según tus necesidades */
    max-width: 60%; /* Puedes ajustar el valor según sea necesario */
}
/* Estilos del modal */
div.dataTables_wrapper div.dataTables_length select {
    width: 50px; 
    display: inline-block;
}


/* Estilos del encabezado del modal */
.modal-header {
    background-color: var(--color-8);
    color:  var(--color-1);
    padding: 10px;
}