/* Importar la fuente Open Sans */
@font-face {
  font-family: 'Open Sans';
  src: url('../Fuente/static/OpenSans-Light.ttf') format('truetype');
  font-style:italic;
}

/* Variables para colores y fuentes */
:root {
  --color-1: #FFFFFF;
  --color-2: #F3F3F3;
  --color-3:#4F9AB8;
  --color-4: #3886A7;
  --color-5: #0F354C;
  --font-family: 'Open Sans', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: normal;
}

/* Estilo común para fuente y color */
/* Estilo común para fuente y color */
body,
h1,
h2,
h3,
p,
span,
a,
title,label {
  font-family: var(--font-family);
  font-size: 16px; /* Tamaño de fuente predeterminado */
  color: var(--color-1) !important;
}

