/*Importamos variables globales*/
@import '/css/VariablesGlobales.css'; 

#formvalores {
    display: flex !important;
    flex-direction: row !important; /* Organiza los elementos en fila */
    flex-wrap: wrap !important; /* Permite que los elementos se envuelvan si no caben en una sola fila */
    gap: 60px !important; /* Espacio entre elementos */
    margin-top:10px !important;
   align-items: center !important;
}
#Tabladetalle tbody td span {
    color: #333 !important; /* Color del texto */
    font-weight: bold; /* Establece el texto en negrita */
  }
  
  #Tabladetalle tbody td input{
    color: #333 !important; /* Color del texto */
    font-weight: bold; /* Establece el texto en negrita */
  }
   
/*css para los bonones mayormento los de crear en las vistas*/
.Boton_Select{
width: 80px;
height: 50px; 
margin-top:15px;
margin-left: 10px;
}
.Boton_Select_models{
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 100;
    font-size: 6px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    width: 130px;
    margin-top: 2px;
}
.Boton_Select_models svg {
    margin-right: 6px;
  }
.Boton_Select_models span{
    display: flex;
 justify-content: center;
 align-items: center;
 color: #fff;
 font-weight: 200;
}
.Boton_Select_models :hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  }



.vista {
    display: none;
}




/* Estilos de modales */


#modalCRUDP .modal-content {
    width: 600px;
}
#modalCRUDM .modal-content {
    width: 560px;
}
#modalCRUDT .modal-content {
    width: 560px;
}
#modalCRUDC  .modal-content {
    width: 560px;
}

#modalCRUDB .modal-content {
    width: 560px;
}
/* Estilos del encabezado de la tabla DataTables */





.estado-registrada {
    border-radius:50px;
    text-align: center;
    color: rgb(255, 255, 255);

    font-weight: bold;
    background-color: #e90d0d;
}

.estado-completa {
    border-radius:50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #175817;
}


 /* Estilos para el contenedor padre */
 .contenedor-padre {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Distribuye los hijos en ambos extremos del contenedor padre */
    align-items: center;
    width: 100%; /* Ancho del contenedor padre, puedes ajustarlo según tus necesidades */
    gap: 10px; /* Espacio entre elementos */
    border: 1px solid #ccc; /* Borde para visualizar el contenedor */
    padding: 20px; /* Espaciado interno del contenedor padre */
    background-color: var(--color-2);
  }

   /* Estilos para los contenedores hijos */
   .contenedor-hijo {
    
    flex: 1; /* Ocupa todo el espacio disponible en la dirección principal (horizontal en este caso) */
    padding: 25px; /* Espaciado interno del contenedor hijo */
    border: 1px solid #ddd; /* Borde para visualizar los contenedores hijos */
    background-color: var(--color-5);
  }
  /*Botones formulario*/
   

    
   

/* Estilo personalizado para el tamaño de la alerta */
.tamanio-alerta {
    width: 400px !important; /* Puedes ajustar este valor según tus necesidades */
    height: 300px !important; /* Puedes ajustar este valor según tus necesidades */
}

/* Establecer la posición de la alerta en la esquina superior izquierda */
.swal2-container {
 
    margin-left: 0 !important; /* Puedes ajustar este valor según tus necesidades */
}

.TituloHijos {
    background-color: var(--color-2) !important;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center; /* Alinea el texto al centro si es necesario */
}
.TituloHijos h2{
    color: var(--color-4) !important;
    font-size: 20px;
}
.form-group {
    margin-bottom: 20px;
  }

/* Estilos para los select con Select2 */
.select2-container--default .select2-selection--single {
height: 38px;
line-height: 38px;
border: 1px solid #ced4da;
border-radius: 5px;
background-color: var(--color-3) !important;
color: var(--color-1);
padding: 0 12px;
width: 200px;

}
.select2-results__option[aria-selected]{
    background-color: var(--color-4);
   
}
.select2-results__option{
    background-color: var(--color-3) !important;
}
.select2-container--default .select2-selection--single:focus {
    border-color: var(--color-5);
    outline: 0;
  }
  
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: var(--color-2) transparent transparent transparent !important;
  }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent var(--color-2) transparent !important;
    border-width: 0 4px 5px 4px;
}

  
  

  
  /* Estilos adicionales para mejorar la apariencia */
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 10px;
  }
  
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

/* CSS para el formulario general */
#formvalores .input-container {
    position: relative;
    margin: 1em 0;
    max-width: 190px;
   
}

#formvalores .input-container label {
    position: absolute;
    top: -1em;
    left: 0;
    font-size: 100%;
    background-color: var(--color-5);
    color: var(--color-2) !important;
}

#formvalores .input-container input[type="text"],
#formvalores .input-container input[type="number"],
#formvalores .input-container input[type="password"],
#formvalores .input-container input[type="email"],
#formvalores .input-container input[type="date"],
#formvalores .input-container select,
#formvalores .input-container textarea {
    font-size: 100%;
    padding: 1em;
    outline: none;
    border: 2px solid var(--color-2);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    color: var(--color-1);
}

#formvalores .input-container input:focus,
#formvalores .input-container input:valid,
#formvalores .input-container select:focus,
#formvalores .input-container select:valid,
#formvalores .input-container textarea:focus,
#formvalores .input-container textarea:valid {
    background-color: var(--color-5);
}


.campo-vacio{
    background-color: #e90d0d !important;
}



/* The design is inspired from the mockapi.io */

.popup {
  --burger-line-width: 1.125em;
  --burger-line-height: 0.125em;
  --burger-offset: 0.625em;
  --burger-bg: rgba(0, 0, 0, .15);
  --burger-color: #333;
  --burger-line-border-radius: 0.1875em;
  --burger-diameter: 2.125em;
  --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
  --burger-line-transition: .3s;
  --burger-transition: all .1s ease-in-out;
  --burger-hover-scale: 1.1;
  --burger-active-scale: .95;
  --burger-enable-outline-color: var(--burger-bg);
  --burger-enable-outline-width: 0.125em;
  --burger-enable-outline-offset: var(--burger-enable-outline-width);
  /* nav */
  --nav-padding-x: 0.25em;
  --nav-padding-y: 0.625em;
  --nav-border-radius: 0.375em;
  --nav-border-color: #ccc;
  --nav-border-width: 0.0625em;
  --nav-shadow-color: rgba(0, 0, 0, .2);
  --nav-shadow-width: 0 1px 5px;
  --nav-bg: #eee;
  --nav-font-family: Menlo, Roboto Mono, monospace;
  --nav-default-scale: .8;
  --nav-active-scale: 1;
  --nav-position-left: 0;
  --nav-position-right: unset;
  /* if you want to change sides just switch one property */
  /* from properties to "unset" and the other to 0 */
  /* title */
  --nav-title-size: 0.625em;
  --nav-title-color: #777;
  --nav-title-padding-x: 1rem;
  --nav-title-padding-y: 0.25em;
  /* nav button */
  --nav-button-padding-x: 1rem;
  --nav-button-padding-y: 0.375em;
  --nav-button-border-radius: 0.375em;
  --nav-button-font-size: 12px;
  --nav-button-hover-bg: #6495ed;
  --nav-button-hover-text-color: #fff;
  --nav-button-distance: 0.875em;
  /* underline */
  --underline-border-width: 0.0625em;
  --underline-border-color: #ccc;
  --underline-margin-y: 0.3125em;
}

/* popup settings 👆 */
#infoModal p{
  color: var(--color-5) !important ;}
.popup {
  display: inline-block;
  text-rendering: optimizeLegibility;
  position: relative; /* Asegura que z-index funcione */
  z-index: 9999; /* Establece un valor alto para asegurar que esté por encima de otros elementos */
}

.popup input {
  display: none;
}

.burger {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--color-2) !important;
  width: var(--burger-diameter);
  height: var(--burger-diameter);
  border-radius: var(--burger-btn-border-radius);
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: var(--burger-transition);
  outline: var(--burger-enable-outline-width) solid transparent;
  outline-offset: 0;
}

.burger span {
  height: var(--burger-line-height);
  width: var(--burger-line-width);
  background: var(--burger-color);
  border-radius: var(--burger-line-border-radius);
  position: absolute;
  transition: var(--burger-line-transition);
}

.burger span:nth-child(1) {
  top: var(--burger-offset);
}

.burger span:nth-child(2) {
  bottom: var(--burger-offset);
}

.burger span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
}

.popup-window {
  transform: scale(var(--nav-default-scale));
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: var(--nav-padding-y) var(--nav-padding-x);
  background: var(--nav-bg);
  font-family: var(--nav-font-family);
  color: var(--nav-text-color);
  border-radius: var(--nav-border-radius);
  box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
  border: var(--nav-border-width) solid var(--nav-border-color);
  top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
  left: var(--nav-position-left);
  right: var(--nav-position-right);
  transition: var(--burger-transition);
}

.popup-window legend {
  padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
  margin: 0;
  color: var(--nav-title-color);
  font-size: var(--nav-title-size);
  text-transform: uppercase;
}

.popup-window ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popup-window ul button {
  outline: none;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: var(--burger-color);
  font-size: var(--nav-button-font-size);
  padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
  white-space: nowrap;
  border-radius: var(--nav-button-border-radius);
  cursor: pointer;
  column-gap: var(--nav-button-distance);
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
  color: cornflowerblue;
}

.popup-window ul li:nth-child(4) svg,
.popup-window ul li:nth-child(5) svg {
  color: rgb(153, 153, 153);
}

.popup-window ul li:nth-child(7) svg {
  color: red;
}

.popup-window hr {
  margin: var(--underline-margin-y) 0;
  border: none;
  border-bottom: var(--underline-border-width) solid var(--underline-border-color);
}

/* actions */

.popup-window ul button:hover,
.popup-window ul button:focus-visible,
.popup-window ul button:hover svg,
.popup-window ul button:focus-visible svg {
  color: var(--nav-button-hover-text-color);
  background: var(--nav-button-hover-bg);
}

.burger:hover {
  transform: scale(var(--burger-hover-scale));
}

.burger:active {
  transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
  outline-color: var(--burger-enable-outline-color);
  outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked+.burger span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.popup input:checked+.burger span:nth-child(2) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.popup input:checked+.burger span:nth-child(3) {
  transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
}

.popup input:checked~nav {
  transform: scale(var(--nav-active-scale));
  visibility: visible;
  opacity: 1;
}

.SeccionBotonesSeleccion {
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos */
}
.button-container2{
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-3);
  border-radius: 30px;
  gap: 20px;
  margin-left: 8px;
}
.button-container {
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos */
}
 .popup {
  width: 30px; /* Establecer el mismo ancho para ambos elementos */ /* Establecer el mismo alto para ambos elementos */
 
}
