/*Importamos variables globales*/
@import '/css/VariablesGlobales.css'; 











.vista {
    display: none;
}
/* Estilos generales para el formulario */
/* Estilos del modal */
div.dataTables_wrapper div.dataTables_length select {
    width: 50px; 
    display: inline-block;
}
.modal-dialog {
    /* Cambia el tamaño del modal según tus necesidades */
    max-width: 60%; /* Puedes ajustar el valor según sea necesario */
}
.modal-content
{
    height: 50%;
}

/* Estilos del encabezado del modal */
.modal-header {
    background-color: var(--color-8);
    color:  var(--color-1);
    padding: 10px;
}



/* Estilos del cuerpo del modal */
.contenedor_Table{

height: 60%;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Espaciado interno del contenedor padre */
}

/* Estilos de la tabla */
/* Estilos generales para DataTables */
.dataTables_wrapper {
    margin: 20px 0;
}

/* Estilos de la barra de búsqueda */
.dataTables_filter input {
    width: 200px; /* Ajusta el ancho según sea necesario */
}

/* Estilos de la paginación */
.dataTables_paginate {
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

/* Estilos de la información de la tabla */
.dataTables_info {
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

/* Estilos de la tabla DataTables */
.table.dataTable {
    width: 100%;
}

/* Estilos de las celdas de la tabla DataTables */
.table.dataTable th,
.table.dataTable td {
    text-align: center; /* Alinea el texto al centro según sea necesario */
}

/* Estilos del encabezado de la tabla DataTables */
.table.dataTable thead th {
    background-color: var(--color-10);
    color: #fff;
}

/* Estilos de la paginación activa */
.dataTables_paginate .paginate_button.current {
    background-color: #007bff; /* Color de fondo de la página activa */
    color: #fff; /* Color del texto de la página activa */
}
/* Tooltip para celdas con clase text-tooltip */
.table td.text-tooltip {
    max-width: 150px; /* Ajusta según sea necesario para el ancho deseado */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




.estado-registrada {
    border-radius:50px;
    text-align: center;
    color: rgb(255, 255, 255);

    font-weight: bold;
    background-color: #e90d0d;
}

.estado-completa {
    border-radius:50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #175817;
}


 /* Estilos para el contenedor padre */
 .contenedor-padre {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Distribuye los hijos en ambos extremos del contenedor padre */
    width: 100%; /* Ancho del contenedor padre, puedes ajustarlo según tus necesidades */
    gap: 10px; /* Espacio entre elementos */
    border: 1px solid #ccc; /* Borde para visualizar el contenedor */
    padding: 20px; /* Espaciado interno del contenedor padre */
  }

   /* Estilos para los contenedores hijos */
   .contenedor-hijo {
    flex: 1; /* Ocupa todo el espacio disponible en la dirección principal (horizontal en este caso) */
    padding: 20px; /* Espaciado interno del contenedor hijo */
    border: 1px solid #ddd; /* Borde para visualizar los contenedores hijos */
  }
  /*Botones formulario*/
    /* Estilos para los botones */
    .BotonesForm {
        display: flex;
        justify-content: center;
        align-items: center;
  
    }
  
    .Botones {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #4CAF50; /* Color de fondo verde, puedes cambiarlo según tus preferencias */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .Botones:hover {
        background-color: #45a049; /* Cambiar el color de fondo al pasar el ratón sobre el botón */
    }
    
    #btnCancelar {
        background-color: #f44336; /* Color de fondo rojo para el botón de cancelar, puedes cambiarlo según tus preferencias */
    }
      .black-text {
        color: black !important;
    }

/* Estilo personalizado para el tamaño de la alerta */
.tamanio-alerta {
    width: 400px !important; /* Puedes ajustar este valor según tus necesidades */
    height: 300px !important; /* Puedes ajustar este valor según tus necesidades */
}

/* Establecer la posición de la alerta en la esquina superior izquierda */
.swal2-container {
 
    margin-left: 0 !important; /* Puedes ajustar este valor según tus necesidades */
}

.fijo {
   
    background-color: #742020  !important ; /* Puedes cambiar este valor al color que desees */
}



.TituloHijos{
        background-color: #f0f0f0;
        padding: 10px;
        margin-bottom: 10px;
      }
      .form {
        display: flex;
        flex-direction: row; /* Organiza los elementos en fila */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola fila */
        gap: 10px; /* Espacio entre elementos */
    }

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input,
.input-container textarea,
.input-container select {
    width: 100%;
    padding: 10px;
   font-family: var(--font-family);
    background-color: var(--color-3);
    border: 1px solid var(--color-1);
    color: var(--color-11);
    border-radius: 5px;
    resize: vertical;
    transition: border-color var(--color-3), box-shadow 0.2s;

}
.input-container input[type="date"] + label {
    top: -16px !important;
    font-size: 16px !important;
    border-radius: 10px !important;
    color: var(--color-2) !important;
    background-color: var(--color-8) !important;
    padding: 0 5px !important;
}
.input-container input[type="file"] + label {
    top: -16px !important;
    font-size: 16px !important;
    border-radius: 10px !important;
    color: var(--color-2) !important;
    background-color: var(--color-8) !important;
    padding: 0 5px !important;
}


.input-container label {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    color: var(--color-10);
    justify-content: center;
    pointer-events: none;
    transition: 0.2s;
    
    transform-origin: left;
    padding: 0 5px;
    z-index: 1;
}

.input-container input:focus + label,
.input-container select:focus + label,
.input-container input:valid + label,
.input-container select:valid + label,
.input-container textarea:focus + label,
.input-container textarea:valid + label {
    top: -16px;
   font-family: var(--font-family);
    font-size: 16px;
    border-radius: 10px;
    color: var(--color-2);
    background-color: var(--color-8);
    padding: 0 5px;
}


/* Estilo especial para el select cuando tiene el foco */
select:focus + label {
    top: -16px;
}
