/*Importamos variables globales*/
@import '/css/VariablesGlobales.css'; 

#formvalores {
    display: flex !important;
    flex-direction: row !important; /* Organiza los elementos en fila */
    flex-wrap: wrap !important; /* Permite que los elementos se envuelvan si no caben en una sola fila */
    gap: 60px !important; /* Espacio entre elementos */
    margin-top:10px !important;
   align-items: center !important;
}
#Tabladetalle tbody td span {
    color: #333 !important; /* Color del texto */
    font-weight: bold; /* Establece el texto en negrita */
  }
  
  #Tabladetalle tbody td input{
    color: #333 !important; /* Color del texto */
    font-weight: bold; /* Establece el texto en negrita */
  }
   
/*css para los bonones mayormento los de crear en las vistas*/
.Boton_Select{
width: 80px;
height: 50px; 
margin-top:15px;
margin-left: 10px;
}
.Boton_Select_models{
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 100;
    font-size: 6px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    width: 130px;
    margin-top: 2px;
}
.Boton_Select_models svg {
    margin-right: 6px;
  }
.Boton_Select_models span{
    display: flex;
 justify-content: center;
 align-items: center;
 color: #fff;
 font-weight: 200;
}
.Boton_Select_models :hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  }



.vista {
    display: none;
}




/* Estilos de modales */


#modalCRUDP .modal-content {
    width: 600px;
}
#modalCRUDM .modal-content {
    width: 560px;
}
#modalCRUDT .modal-content {
    width: 560px;
}
#modalCRUDC  .modal-content {
    width: 560px;
}

#modalCRUDB .modal-content {
    width: 560px;
}
/* Estilos del encabezado de la tabla DataTables */





.estado-registrada {
    border-radius:50px;
    text-align: center;
    color: rgb(255, 255, 255);

    font-weight: bold;
    background-color: #e90d0d;
}

.estado-completa {
    border-radius:50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #175817;
}


 /* Estilos para el contenedor padre */
 .contenedor-padre {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Distribuye los hijos en ambos extremos del contenedor padre */
    align-items: center;
    width: 100%; /* Ancho del contenedor padre, puedes ajustarlo según tus necesidades */
    gap: 10px; /* Espacio entre elementos */
    border: 1px solid #ccc; /* Borde para visualizar el contenedor */
    padding: 20px; /* Espaciado interno del contenedor padre */
    background-color: var(--color-2);
  }

   /* Estilos para los contenedores hijos */
   .contenedor-hijo {
    
    flex: 1; /* Ocupa todo el espacio disponible en la dirección principal (horizontal en este caso) */
    padding: 25px; /* Espaciado interno del contenedor hijo */
    border: 1px solid #ddd; /* Borde para visualizar los contenedores hijos */
    background-color: var(--color-5);
  }
  /*Botones formulario*/
   

    
   

/* Estilo personalizado para el tamaño de la alerta */
.tamanio-alerta {
    width: 400px !important; /* Puedes ajustar este valor según tus necesidades */
    height: 300px !important; /* Puedes ajustar este valor según tus necesidades */
}

/* Establecer la posición de la alerta en la esquina superior izquierda */
.swal2-container {
 
    margin-left: 0 !important; /* Puedes ajustar este valor según tus necesidades */
}

.TituloHijos {
    background-color: var(--color-2) !important;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center; /* Alinea el texto al centro si es necesario */
}
.TituloHijos h2{
    color: var(--color-4) !important;
    font-size: 20px;
}


/* CSS para el formulario general */
#formvalores .input-container {
    position: relative;
    margin: 1em 0;
    max-width: 190px;
   
}

#formvalores .input-container label {
    position: absolute;
    top: -1em;
    left: 0;
    font-size: 100%;
    background-color: var(--color-5);
}

#formvalores .input-container input[type="text"],
#formvalores .input-container input[type="number"],
#formvalores .input-container input[type="password"],
#formvalores .input-container input[type="email"],
#formvalores .input-container input[type="date"],
#formvalores .input-container select,
#formvalores .input-container textarea {
    font-size: 100%;
    padding: 1em;
    outline: none;
    border: 2px solid var(--color-2);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    color: var(--color-1);
}

#formvalores .input-container input:focus,
#formvalores .input-container input:valid,
#formvalores .input-container select:focus,
#formvalores .input-container select:valid,
#formvalores .input-container textarea:focus,
#formvalores .input-container textarea:valid {
    background-color: var(--color-5);
}
