/*Importamos variables globales*/
@import '/css/VariablesGlobales.css';
.contenedorPadreWidgetsInicio {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    grid-template-rows: repeat(2, auto); /* Dos filas de altura automática */
 gap: 10px;
}



